body{
    font-family:" Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
    padding:0;
    margin:0;
  }

  main{
    background-image: url("backgroundPattern.jpg") ;
    background-repeat: repeat;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
 /* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background: rgb(82, 78, 78);
    border-radius: 10px;
  }

#chatBox{
    width:70%;
    height: 92vh;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.3);
    overflow-y: scroll;
}

#chatBox header{
    background-color: #292929;
    padding: 0.25rem;
    letter-spacing: 0.5px;
    color:#fff;

}

aside{
    justify-self: flex-start;
    width: 30%;
    background-color: rgb(250, 244, 193);
    height: 100vh;
}

aside header{
    padding: 0.25rem;
    background-color: #292929;
    border-bottom: 1px solid #dedcc7;
    color: #fff;

}

aside p{
    padding: 1rem;
}

.userMessage{
    align-self: flex-end;
    padding: 0.5rem;
    border-radius: 10px;
    border: 1px solid black;
    margin: 1rem;
    background-color: rgba(242, 242,242,0.85);
}

#userText{
    display: inline;
}

.botMessage{
    align-self: flex-start;
    padding: 0.5rem;
    border-radius: 10px;
    border: 1px solid black;
    width:50%;
    margin: 1rem;
    background-color: rgba(242, 242,242,0.85);
    min-height: 18.4px;
}

#botText{
    display: inline;
}

#sendText{
    position: absolute;
    bottom: 0;
    width: 70%;
    border-top: 0;
    height: 4rem;
    background-color: #292929;

}

#sendButton{
    padding: 0.8rem;
    border-radius: 20px;
    border: 0;
    background-color: rgb(30, 102, 52);
    color: #ffffff;
}

#userInput{
    width: 90%;
     padding: 0.5rem;
     margin: 0.5rem;
     height: 1.7rem;
     border-radius: 20px;
     border: 1.2px solid #999966;
     background-color: rgb(242, 242,242);
 }

#userInput:focus{ /*removes the outline border when typing inside userInput*/
    outline: none;
}

.typingMessage{
    display: flex;
    width: auto;
}

.typing {
    display: inline-block;
    width: 0.7rem;
    height: 0.7rem;
    margin-right: 0rem;
    box-sizing: border-box;
    background: #555;
    border-radius: 50%;
    animation-duration: 2.2s !important;
    margin: 0 0.03rem;
}
    
.typing-1 { 
    animation: typing 3s infinite;

}
.typing-2 { animation: typing 3s 250ms infinite; }
.typing-3 { animation: typing 3s 500ms infinite; }

@keyframes typing {
	0%, 75%, 100% {
		transform: translate(0, 0.35rem) scale(0.9);
		opacity: 0.5;
	}
	
	25% {
		transform: translate(0, -0.25rem) scale(0.9);
		opacity: 1;
	}
}
