body{
    font-family:" Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
    padding:0;
    margin:0;
  }

#main{
  margin: 0 auto;
  width:90%;
  padding: 1rem;
  line-height: 1.5rem;
}

#chatBox{
    width:60%;
    margin: auto;
    height: 30rem;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    background-repeat: repeat;
}

.userMessage{
    align-self: flex-end;
    padding: 0.5rem;
    border-radius: 10px;
    border: 1px solid black;
    margin: 1rem;
}

#userText{
    display: inline;
}

.botMessage{
    align-self: flex-start;
    padding: 0.5rem;
    border-radius: 10px;
    border: 1px solid black;
    width:50%;
    margin: 1rem;
}

#botText{
    display: inline;
}
