body{
    font-family:" Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
    padding:0;
    margin:0;
    height: 100vh;
}

header{
    position: fixed;
    width: 100%;
}

main{
    width: 100%;
    display: flex;
    flex-direction: row;
    background-image: url("Dark Ocean.jpg");
    background-repeat: repeat;
    margin-bottom: 5rem;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }

 /* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background: rgb(82, 78, 78);
    border-radius: 10px;
  }

#chat{
    width:70%;
    overflow-y: scroll;
    height: 100vh;
}

#chatHeader{
    position: fixed;
    width: 61rem;
    margin:0;
    background-color: aliceblue;
    padding: 1rem;
    border-left: 1px solid white;
}

#chatBox{
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
}

aside{
    width: 30%;
    height: 100vh;
    overflow:auto ;
    color: #ffffff;
}

#asideHeader{
    margin:0;
    background-color: aliceblue;
    padding: 1rem;
    margin: 0;
    color: #000;
    position: fixed;
    width: 25rem;
  }

  #sideContent{
    margin-top:4rem;
    padding: 1rem;
}

.userMessage{
    align-self: flex-end;
    padding: 0.5rem;
    border-radius: 10px;
    border: 1px solid black;
    margin: 1rem;
    background-color: rgba(242, 242,242,0.85);
}

#userText{
    display: inline;
}

.botMessage{
    align-self: flex-start;
    padding: 0.5rem;
    border-radius: 10px;
    border: 1px solid black;
    width:50%;
    margin: 1rem;
    background-color: rgba(242, 242,242,0.85);
}


#botText{
    display: inline;
}

#sendText{
    position: absolute;
    bottom: 0;
    right:0;
    width: 70%;
    height:4rem;
    background-color: rgba(242, 242,242,0.5);
    border-radius: 5px;
}

#sendButton{
    padding: 0.8rem;
    border-radius: 20px;
    border: 0;
}

#userInput{
    width: 90%;
     padding: 0.5rem;
     margin: 0.5rem;
     height: 1.7rem;
     border-radius: 20px;
     border: 1.2px solid #999966;
     background-color: rgb(242, 242,242);
 }

#userInput:focus{ /*removes the outline border when typing inside userInput*/
    outline: none;
}
