body{
    font-family:" Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
    padding:0;
    margin:0;
  }

#main{
  margin: 0 auto;
  width:90%;
  padding: 1rem;
  line-height: 1.5rem;
}

#chatBox{
    width:60%;
    margin: auto;
    height: 30rem;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    background-repeat: repeat;
}

.userMessage{
    align-self: flex-end;
    padding: 0.5rem;
    border-radius: 10px;
    border: 1px solid black;
    margin: 1rem;
}

#userText{
    display: inline;
}

.botMessage{
    align-self: flex-start;
    padding: 0.5rem;
    border-radius: 10px;
    border: 1px solid black;
    width:50%;
    margin: 1rem;
}

#botText{
    display: inline;
}

#sendText{
    margin: auto;
    width: 60%;
    margin-top: 0;
    position: relative;
    border: 1px solid black;
    height: 4rem;
}

#sendButton{
    position: absolute;
    right: 11px;
    top: 9px;
    z-index: 1;
    padding: 0.8rem;
    border-radius: 20px;
}

#userInput{
    position: absolute;
    right:0;
    left: 0;
    padding: 0.5rem;
    margin: 0.5rem;
    height: 1.7rem;
    border-radius: 20px;

}
