body {
    overflow: hidden;
    font-family: " Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
    padding: 0;
    margin: 0;
    height: 100vh;
}

header {
    position: fixed;
    width: 100%;
}

main {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    background-image: url("Dark Ocean.jpg");
    background-repeat: repeat;
}

main header {
    position: fixed;
    top: 0;
    background-color: aliceblue;

    height: 7vh;
}



#chat {
    width:70%;
}

#chatHeader {
    width: 70%;
    margin: 0;
    /* border-left: 1px solid white; */
    height: 3vh;
    display: inline-block;
    padding-top: 1.5vh;
    padding-left: 1%;
}

#chatBox {
    margin-top: 7vh;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    padding-bottom: 9vh;
    height: 84vh;
    scrollbar-width: thin;
}

aside {
    width: 30%;


    color: #ffffff;
}

#asideHeader {
    margin: 0;

    margin: 0;
    color: #000;


    padding-top: 1.5vh;
    padding-left: 1%;
    display: inline-block;
}

#sideContent {
    margin-top: 7vh;

    overflow-y: scroll;
    height: 87vh;
    padding: 4vh 0;
    scrollbar-width: thin;
}

.userMessage {
    align-self: flex-end;
    padding: 0.5rem;
    border-radius: 10px;
    border: 1px solid black;
    margin: 1rem;
    background-color: rgba(242, 242, 242, 0.85);
}

#userText {
    display: inline;
}

.botMessage {
    align-self: flex-start;
    padding: 0.5rem;
    border-radius: 10px;
    border: 1px solid black;
    width: 50%;
    margin: 1rem;
    background-color: rgba(242, 242, 242, 0.85);
}


#botText {
    display: inline;
}

#sendText {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 30%;
    height: 9vh;
    background-color: rgba(242, 242, 242, 0.5);
    border-radius: 5px;
    display: flex;
}

#sendButton {
    padding: 0.8rem;
    border-radius: 20px;
    border: 0;
    height: 2.7rem;
    align-self: center;
    margin: 0 1%;
}

#userInput {
    /* width: 90%; */
    padding: 0.5rem;
    margin: 0 0.5rem;
    height: 1.7rem;
    border-radius: 20px;
    border: 1.2px solid #999966;
    background-color: rgb(242, 242, 242);
    align-self: center;
    flex-grow: 1;
}

#userInput:focus {
    /*removes the outline border when typing inside userInput*/
    outline: none;
}

/*width */
::-webkit-scrollbar {
    width: 10px;
}


::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgb(82, 78, 78);
    border-radius: 10px;
}

.typingMessage {
    display: flex;
    width: auto;
}

.typing {
    display: inline-block;
    width: 0.7rem;
    height: 0.7rem;
    margin-right: 0rem;
    box-sizing: border-box;
    background: #555;
    border-radius: 50%;
    animation-duration: 2.2s !important;
    margin: 0 0.03rem;
}

.typing-1 {
    animation: typing 3s infinite;

}

.typing-2 {
    animation: typing 3s 250ms infinite;
}

.typing-3 {
    animation: typing 3s 500ms infinite;
}

@keyframes typing {

    0%,
    75%,
    100% {
        transform: translate(0, 0.35rem) scale(0.9);
        opacity: 0.5;
    }

    25% {
        transform: translate(0, -0.25rem) scale(0.9);
        opacity: 1;
    }
}


details {
    
    margin: 0 auto ;
    background: #202020;
    
    padding-left: 4%;box-shadow: 0 .1rem 1rem -.5rem rgba(0,0,0,.4);
    
    overflow: hidden;
  }
  
  summary {
    padding: 1rem;
    display: block;
    background: #333;
    padding-left: 2.2rem;
    margin-left: -4%;position: relative;
    cursor: pointer;
  }
  
  summary:before {
    content: '';
    border-width: .4rem;
    border-style: solid;
    border-color: transparent transparent transparent #fff;
    position: absolute;
    top: 1.3rem;
    left: 1rem;
    transform: rotate(0);
    transform-origin: .2rem 50%;
    transition: .25s transform ease;
  }
  
  details[open] > summary:before {
    transform: rotate(90deg);
  }
  
  
  details summary::-webkit-details-marker {
    display:none;
  }
  
  details > ul {
    padding-bottom: 1rem;
    margin-bottom: 0;
  }

.destination{
  padding-top: 1rem;
background-color: rgb(242 242 242 / 85%);margin-bottom: 1rem;}

.destination h3{
  padding-bottom: 1rem;padding-left: 2%;margin: 0;
color: #000;}